body {
    background: url("https://media.giphy.com/media/MYzDEybJ94M2Q/giphy.gif") no-repeat center center fixed;
    position: relative;
    background-size: cover;
    /* height: 100%; */
    margin: 0px;
}

h1,
h2,
p {
    color: rgba(255, 255, 255, 0.8);
}

p,
h2 {
    font-family: 'Oxygen', sans-serif;
}

.container-fluid {
    padding: 0px;
}

.jumbotron {
    margin: 0px;
}

.btn-lg {
    margin-top: 25px;
}

.questionAnswer {
    padding: 20px 10px;
}

.sentence,
.guess {
    font-size: 30px;
}

.prizeAnswer {
    margin: 30px 0px;
    padding: 30px 10px;
    border: 1px solid rgba(255, 255, 255, 0.61);
    border-radius: 5px;
}

.form-control {
    background: transparent;
    border: 1px solid rgba(46, 111, 164, 0.37);
    border-radius: none;
}

.theGif img {
    max-width: 300px;
    padding-top: 15px;
}

.answerText {
    display: inline;
}

.imageClue img {
    padding-top: 20px;
    padding-bottom: 20px;
    filter: blur(15px);
}

.imageClue:hover img {
    filter: blur(0px);
}

.answerText {
    font-size: 20px;
    font-weight: bold;
}

.clue {
    margin-top: 20px;
}

.fb {
    font-size: 12px;
}

.revealH {
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
}

.revealP {
    font-size: 30px;
}

.fa {
    padding: 5px;
}

.fa-times-circle {
    color: red;
    margin-left: 20px;
}

.fa-check-circle {
    color: green;
    margin-left: 20px;
}

.howToBg {
    background: #1f1e1e;
    padding: 10px 20px;
}
 .howTo {
    padding-left: 90px;
    padding-right: 60px;
    min-height: 480px;
    min-width: auto;
 }

 .howTo p {
     font-size: 16px;
 }
 .musicBg {
    background: rgba(255, 255, 255, 0.61);
    padding: 10px 20px; 
}
 .music {
    padding-left: 90px;
    padding-right: 60px;
    min-height: 480px;
    min-width: auto;
 }
 .music h2 {
    color: #1f1e1e !important;
 }
 .music p {
    color: #1f1e1e !important;
    font-size: 20px;
 }
.playMusic {
    padding: 20px 40px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.prizeImage {
    margin-top: 10px;
    border: 2px dashed white;
    filter: drop-shadow(1px 1px 20px white)
}

@media all and (max-width: 1024px) {
    /* screen size until 1000px */
    .revealH {
        font-size: 40px;
    }
    .howTo {
        padding: 10px 10px;
    }
    .music {
        padding: 10px 10px;
    }

    .facebook {
        width: 340px;
    }
    
}
@media all and (max-width: 920px) {
    .revealH {
        font-size: 40px;
    }
    .howToBg {
        padding: 10px 10px;
    }
    .musicBg {
        padding: 10px 10px;
    }

    .facebook {
        width: 340px;
    }
}
@media all and (max-width: 768px) {
    .revealH {
        font-size: 40px;
    }
    .howTo {
        padding: 10px 30px;
    }
    .music {
        padding: 10px 30px;
    }

    .facebook {
        width: 340px;
    }
}

@media all and (max-width: 500px) {
    .revealH {
        font-size: 40px;
    }
    .howTo {
        padding: 10px 30px;
    }
    .music {
        padding: 10px 30px;
    }
    .facebook {
        width: 340px;
    }
}

@media all and (max-width: 1000px) {
    .sentence,
    .guess {
        font-size: 20px;
        padding: 20px 10px;
    }
}

@media all and (max-width: 500px) {
    /* screen size until 500px */
    .sentence,
    .guess {
        font-size: 20px;
        padding: 20px 10px;
    }
}